<h1><%= @tag.name %></h1>

<div class="your-foods">
    <% @tag.foods_for_user(@current_user.id).each do |food| %>
        <%= link_to food_path(food.id) do %>
            <div>
                <p>
                    <%= food.name %>
                </p>
            </div>
        <% end %>
    <% end %>
</div>

<%= link_to 'Tag Index', tags_path %>
