<h1>Your Foods</h1>

<div class="your-foods">
    <% @foods.each do |food| %>
        <div>
            <p>
                <%= link_to food.name, food_path(food.id) %>
            </p>
        </div>
    <% end %>
</div>