@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Special+Elite&family=Spectral+SC&display=swap');
.title {
    font-family: 'Spectral SC', serif;
    box-sizing: border-box;
    text-align: center;
}

.container {
    font-family: 'El Messiri', sans-serif;
    box-shadow: 5px 3px;
}



// font-family: 'El Messiri', sans-serif;

// font-family: 'Special Elite', cursive;

// font-family: 'Spectral SC', serif;